data/processed/master_dataset.csv filter=lfs diff=lfs merge=lfs -text
data/processed/olist_geolocation_dataset.csv filter=lfs diff=lfs merge=lfs -text
data/raw/ecommerce.db filter=lfs diff=lfs merge=lfs -text
